
/******* 지마켓 ********/
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
  font-display: swap;
} 
/******* 지마켓 ********/


/******* 에스코어드림 ********/
@font-face {
  font-family: 's-core-dream-thin';
  src: url('./score/scdream1.woff2') format('woff2'),
       url('./score/scdream1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-extralight';
  src: url('./score/scdream2.woff2') format('woff2'),
       url('./score/scdream2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-light';
  src: url('scdream3.woff2') format('woff2'),
       url('scdream3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-regular';
  src: url('./score/scdream4.woff2') format('woff2'),
       url('./score/scdream4.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-medium';
  src: url('./score/scdream5.woff2') format('woff2'),
       url('./score/scdream5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-bold';
  src: url('./score/scdream6.woff2') format('woff2'),
       url('./score/scdream6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-extrabold';
  src: url('scdream7.woff2') format('woff2'),
       url('scdream7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-heavy';
  src: url('scdream8.woff2') format('woff2'),
       url('scdream8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 's-core-dream-black';
  src: url('scdream9.woff2') format('woff2'),
       url('scdream9.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/******* 에스코어드림 ********/

/*네오둥근체*/
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 나눔스퀘어 네오 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/*나눔고딕코딩  */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
 font-family: 'Nanum Gothic Coding', monospace;
}

/*잉크립퀴드체  */
@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*티몬체*/
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 넥슨메이플스토리 */
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* kcc은영체 */
@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 을지로체 */
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 나눔스퀘어 네오 */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 나눔명조 */
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}